.contactPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 60vh;
  justify-content: center;
  margin: 1em;
}

.contactPage img {
  justify-self: center;
  align-self: center;
  object-fit: contain;
  width: 100%;
  height: auto;
  max-width: 450px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 10%;
}

.contactContainer h2 {
  font-size: 1.5em;
}

.contactContainer p {
  font-size: 1.2em;
}

.list {
  background: #e9e1af;
  color: black;
  display: flex;
  justify-content: flex-start;
  gap: 4em;
  border-radius: 5px;
  padding-top: 0.2em;
  width: 250px;
  height: 30px;
}

.list:hover {
  cursor: pointer;
  filter: brightness(0.6);
}

@media (max-width: 900px) {
  .contactPage {
    grid-template-columns: 1fr;
  }
  .contactContainer h2 {
    font-size: 1em;
  }

  .contactContainer p {
    font-size: 0.8em;
  }
}
