.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 75vh;
  margin: 1em;
  gap: 1em;
}

.container img {
  min-height: 300px;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  padding: 1em 0;

  background: antiquewhite;
  color: black;

  text-align: center;
  height: 100%;
}

.carousel h2 {
  font-size: 1.5em;
}

.carousel p {
  font-size: 1.2em;
  padding: 0 5em;
}

@media (max-width: 900px) {
  .container {
    grid-auto-flow: row;
    grid-template-columns: none;
  }
  .carousel h2 {
    font-size: 1em;
  }

  .carousel p {
    font-size: 0.8em;
    padding: 0 1em;
  }
}
