.internalNavBar {
  display: flex;
  width: 100%;
  height: 4em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin: 5em 0;
  button {
    background-color: antiquewhite;
    border-radius: 10px;
    width: 10%;
    height: 100%;
  }
  button:hover {
    cursor: pointer;
    background-color: rgba(250, 235, 215, 0.7);
  }
  h2 {
    font-weight: 900;
    font-size: 24px;
    color: black;
  }
}

.gridPhoto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 2em;
  margin: 1em;
}

.col1 {
  grid-column: span 1;
}

.col2 {
  grid-column: span 2;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1em;
    justify-items: center;
  }

  .col1,
  .col2 {
    grid-column: span 1 !important;
  }

  .grid img {
    max-height: 400px;
  }
}

.gridVideo {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3em;
  gap: 3em;
}

.video {
  width: 45vw;
  height: auto;
  aspect-ratio: 16 / 9;
}
