.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  height: 80vh;
  margin: 1em;
}

.left {
  align-self: start;
  padding: 2em;
}

.right {
  align-self: end;
  padding: 2em;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5em;
  gap: 2em;
}

.center h2 {
  font-size: 1.5em;
}

.center p {
  font-size: 1.2em;
  padding: 0 3em;
}

@media (max-width: 900px) {
  .grid {
    grid-auto-flow: row;
    grid-template-columns: none;
  }

  .center {
    gap: 0.5em;
  }
  .center h2 {
    font-size: 1em;
  }

  .center p {
    font-size: 0.8em;
    padding: 0 1em;
  }

  .grid img {
    max-height: 300px;
  }

  .video {
    grid-column: 1;
  }
}
