.navbar {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr;
  align-items: center;
  width: 100vw;
  height: 70px;
  margin: 3em 0 6em 0;
  background: antiquewhite;
  color: #000;
  overflow: visible;
  position: relative;
}

.navbar_links {
  display: flex;
  justify-content: flex-end;
  gap: 3em;
  padding-right: 2em;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5em 1em;
  gap: 1em;
  border-radius: 10px;
  background-color: antiquewhite;
  a {
    background-color: antiquewhite;
    padding: 0.3em;
    border-radius: 10px;
  }
}

.h1 {
  display: flex;
  justify-content: center;
  font-size: 3em;
}

.menu {
  display: none;
}

@media (max-width: 1100px) {
  .navbar img {
    display: none;
  }
}

@media (max-width: 900px) {
  .navbar {
    grid-template-columns: 0.5fr 2fr 0.5fr;
  }

  .menu {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    width: 40px;
  }

  .menu:hover {
    cursor: pointer;
  }

  .navbar_links {
    display: none;
  }

  .navbar_links_mobile {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 4.4em;
    right: 0;
    gap: 0;
    width: 25vw;
    background: antiquewhite;
    border: solid 1px black;
  }

  .navbar_links_mobile a {
    text-align: center;

    font-size: 0.9em;
    height: 30px;
    border: solid 1px black;
  }

  .h1 {
    font-size: 2em;
  }
}
