.button {
  display: flex;
  justify-content: flex-start;
  background: #e9e1af;
  color: black;
  padding-top: 0.2em;
  border-radius: 5px;
  width: 250px;
  height: 30px;
}

.button:hover {
  cursor: pointer;
  filter: brightness(0.6);
}
